/* SCROLL INFINITO */
#scrollLoading{border:#FFD324 solid 2px; margin:20px auto; line-height:20px; padding:5px; width:100px; background:url("/arquivos/ajax-loader2.gif") no-repeat right center #FFF6BF;}
body .vitrine +.searchResultsTime{display:none;}
body .vitrine +.searchResultsTime +.sub{display:none;}
body .pager.bottom{display:none;}