/*GENERAL STYLES*/
a,
p,
span,
h1,
h2,
h3,
h4,
h5,
li {
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    color: #a9946e;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1440px;
    }
}
/*DEFAULT VALUES*/
:root {
    --primary-light-yellow-color: #f4f1ea !important;
    --primary-yellow-color: #c9b796 !important;
    --primary-light-grey-color: #bbbbbb !important;
    --primary-grey-color: #656565 !important;
    --primary-dark-grey-color: #62605e !important;
}

a {
    text-decoration: none !important;
    color: var(--primary-grey-color);
}

.roboto {
    font-family: 'Montserrat', sans-serif;
}

.fs-9 {
    font-size: 9px;
}
.fs-11 {
    font-size: 11px;
}
.fs-12 {
    font-size: 12px;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-16 {
    font-size: 16px;
}
.fs-18 {
    font-size: 18px;
}
.fs-20 {
    font-size: 20px;
}
.fs-24 {
    font-size: 24px;
}
.fs-28 {
    font-size: 28px;
}
.fs-32 {
    font-size: 32px;
}
.fs-36 {
    font-size: 36px;
}
.fs-42 {
    font-size: 42px;
}
.fs-50 {
    font-size: 50px;
}

.f-thin {
    font-weight: 100;
}
.f-light {
    font-weight: 300;
}
.f-regular {
    font-weight: 400;
}
.f-medium {
    font-weight: 600;
}
.f-bold {
    font-weight: 700;
}

.lh-1 {
    line-height: 1;
}

.light-yellow-bg {
    background-color: var(--primary-light-yellow-color) !important;
}
.light-yellow-color {
    color: var(--primary-light-yellow-color) !important;
}
.light-yellow-border {
    border-color: var(--primary-light-yellow-color) !important;
}

.yellow-bg {
    background-color: var(--primary-yellow-color) !important;
}
.yellow-color {
    color: var(--primary-yellow-color) !important;
}
.yellow-border {
    border-color: var(--primary-yellow-color) !important;
}

.grey-bg {
    background-color: var(--primary-grey-color) !important;
}
.grey-color {
    color: var(--primary-grey-color) !important;
}
.grey-border {
    border-color: var(--primary-grey-color) !important;
}

.very-light-grey-bg {
    background-color: #f3f3f3 !important;
}

.light-medium-grey-color {
    color: #b6b6b6 !important;
}
.medium-grey-color {
    color: #898989 !important;
}

.light-grey-bg {
    background-color: var(--primary-light-grey-color) !important;
}
.light-grey-color {
    color: var(--primary-light-grey-color) !important !important;
}
.light-grey-border {
    border-color: var(--primary-light-grey-color) !important;
}

.dark-grey-bg {
    background-color: var(--primary-dark-grey-color) !important;
}
.dark-grey-color {
    color: var(--primary-dark-grey-color) !important;
}
.dark-grey-border {
    border-color: var(--primary-dark-grey-color) !important;
}

/*
.color-dark-grey {color:#62605e;}
.bg-light-grey {background:#f4f1ea;}
.color-light-yellow {color: #c9b796}
.bg-light-yellow {background: #c9b796}
*/
/*HEADER*/
.header-main-section {
    position: sticky;
    z-index: 5;
    top: 0;
    background: white;
}

.header-top-section a {
    color: var(--primary-dark-grey-color);
}
.header-top-section .phone {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid var(--primary-yellow-color);
}

/*MENU*/
.header-menu ul li a {
    color: var(--primary-grey-color);
    text-decoration: none;
}
.header-menu ul li {
    position: relative;
    font-size: 16px;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    text-transform: uppercase !important;
    color: var(--primary-grey-color) !important;
}

.header-menu ul {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.header-menu ul li:after {
    position: absolute;
    content: "";
    width: 50%;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 0px;
    background: var(--primary-yellow-color);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.header-menu ul li:hover:after,
.header-menu ul li.active:after {
    bottom: -5px;
    height: 3px;
}

.header-search input {
    border: none;
    padding: 6px 15px 0 6px;
    font-size: 10px;
    border-radius: 0;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    background: url("../arquivos/icon-search.png") right 10px center no-repeat;
}

.header-search label,
.header-search legend,
.header-search select,
.header-search input[type="button"] {
    display: none;
}

.btn-primary-outline {
    background: transparent;
    border: 2px solid;
    padding: 5px 15px;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
}

i.user-icon {
    width: 17px;
    height: 17px;
    display: block;
    background-size: 100%;
    background-image: url("../arquivos/icon-user.png");
}
i.cart-icon {
    background: url("../arquivos/icon-cart.png") center center;
    width: 18px;
    height: 16px;
    display: block;
}

.header-profile {
    border-right: 1px solid var(--primary-light-grey-color);
}
.header-profile i {
}
.header-profile span {
    color: #AEAEAE;
    margin-right: 10px;
    font-size: 11px;
    font-weight: 300;
    max-width: 90px;
    text-align: left;
    margin-top: -2px;
    line-height: 12px;
    position: relative;
    text-transform: uppercase;
}

.home-banner a {
    display: block;
}

@media (min-width:768px) {
    .home-banner img {
        max-width: initial;
        position: relative;
        left: 50%;
        margin-left: -960px;
    }
}

.home-banner.departamento:after {
    top: 0;
    bottom: unset;
    height: 120px;
    width: 100%;
}

.home-banner.departamento img {
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: -150px;
}

.hb-separator {
    position: absolute;
    z-index: 4;
    left: 0;
    top: 50%;
    pointer-events: none;
}
.hb-separator img {
    margin-left: 0px;
}
/*BODY - HOME*/
.home-content {
    background: url("../arquivos/bg_middle_home.jpg") 60% center no-repeat;
    background-size: auto;

    position: relative;
    z-index: 4;
    padding-bottom: 100px;
    margin-bottom: 40px;
}
.home-content-banner-1 {
    text-align: right;
    position: relative;
    background: transparent;
}
.right.home-content-banner-1 {
    margin-top: 50px;
    position: relative;
}
.right.home-content-banner-1 img {
    border: 10px solid white;
    max-width: 290px;
}
.home-content-banner-1 img {
    position: relative;
    -webkit-box-shadow: 16px 37px 61px 16px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 16px 37px 61px 16px rgba(0, 0, 0, 0.09);
    box-shadow: 16px 37px 61px 16px rgba(0, 0, 0, 0.09);
}
.home-content-banner-1 .img {
    position: relative;
    display: inline-block;
}
.home-content-banner-1 .after {
    content: "";
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 110%;
    height: 110%;
    border: 2px solid white;
    pointer-events: none !important;
}
.hcb-caption h5 {
}
.hcb-caption p {
    margin-bottom: 0;
    line-height: 12px;
    font-size: 10px;
}
.hcb-caption a:after {
    content: "";
    position: absolute;
    bottom: 12px;
    right: 0;
    height: 1px;
    width: 65%;
    background: var(--primary-yellow-color);
}

.right .hcb-caption a:after {
    left: 0;
}
.hcb-caption a {
    position: relative;
    background: white;
    padding: 5px;
    text-transform: uppercase;
    font-size: 10px;
}
.hcb-caption {
    background: white;
    padding: 30px 30px 15px;
    max-width: 280px;
    width: 280px;
    position: absolute;
    bottom: 30px;
    right: 80%;
}
.right .hcb-caption {
    left: 80%;
    right: unset;
}

.home-content-message {
    max-width: 200px;
    text-align: right;
    margin-right: 200px;
    margin-top: 100px;
    opacity: 0.4;
}

.right .home-content-message {
    position: absolute;
    left: 340px;
    top: 30px;
    max-width: 200px;
    text-align: left;
    width: 175px;
    margin: 0;
    margin-top: 0px;
    opacity: 0.4;
}

.home-content-imgbt {
    margin: -150px -150px 0 0;
    z-index: 5;
    position: relative;
}

.home-content-imgbt .details {
    max-width: 100px;
    position: absolute;
    top: 210px;
    bottom: 100px;
    right: -80px;
    text-align: left;
}
.details .name {
    max-width: 150px;
    overflow: hidden;
}
.home-content-imgbt .details .name {
    position: relative;
    margin-bottom: 16px;
    line-height: 18px;
    width: 200px;
}
.home-content-imgbt .details .name:after {
    position: absolute;
    content: "";
    width: 20%;
    bottom: -8px;
    left: 0;
    height: 2px;
    background: var(--primary-yellow-color);
}
.home-content-imgbt .details .price {
}
.home-content-imgbt .details .price.full {
}
.details .buy-btn a {
    border: 1px solid var(--primary-yellow-color);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.details .buy-btn:hover a {
    background: transparent !important;
    color: var(--primary-yellow-color) !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.home-kbd-content {
    padding: 10px;
    margin-top: -230px;
    padding-right: 160px;
}

.home-kbd-content .name {
    max-width: 115px;
    padding: 15px;
    border-right: 1px solid var(--primary-yellow-color);
    position: relative;
}

.home-kbd-content .details {
    padding: 0 15px;
    width: 180px;
}
.home-kbd-content .details span {
    margin-bottom: 10px;
    line-height: 12px;
    margin-top: 5px;
}
.home-kbd-content .details a {
}

.btn-big-home {
    border: 1px solid;
    border-radius: 10px;
}

.btn-big-home:hover,
.btn-primary-outline:hover {
    color: white !important;
    background: var(--primary-yellow-color) !important;
}
/*FOOTER*/

#footer-top {
    margin-top: 150px;
}

.footer-pictures {
    margin-top: -100px;
}

.footer-pictures .f-pic {
    border: 9px solid white;
    box-sizing: content-box;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: 10px 10px 35px -6px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 10px 10px 35px -6px rgba(0, 0, 0, 0.14);
    box-shadow: 10px 10px 35px -6px rgba(0, 0, 0, 0.14);
}

.footer-pictures .col-4 .f-pic:after {
    position: absolute;
    width: 110%;
    height: 110%;
    content: "";
    pointer-events: none;
    background: transparent;
    border: 2px solid #e7ddcc;
    z-index: 2;
    bottom: 10px;
    right: 10px;
}

.footer-pictures .col-4:first-child .f-pic:after {
    top: 15px;
    right: 15px;
    bottom: unset;
}

.footer-pictures .col-4:last-child .f-pic:after {
    bottom: 15px;
    left: 15px;
    right: unset;
}

.footer-pictures img {
    max-width: 100%;
    position: relative;
    z-index: 1;
}

.footer-news-form input {
    background: white;
    border: none;
    font-size: 11;
    padding: 10px 15px;
}
.footer-news-form a {
    background: white;
    text-transform: uppercase;
    padding: 10px 15px;
}

/* DEPARTAMENTO */

.has-dropdown {
    cursor: pointer;
    position: relative;
}
.has-dropdown ul {
    position: absolute;
    width: 300px;
    min-height: 150px;
    left: 0;
    display: none;
    padding: 10px;
    background: white;
    -webkit-box-shadow: 16px 37px 61px 16px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 16px 37px 61px 16px rgba(0, 0, 0, 0.09);
    box-shadow: 16px 37px 61px 16px rgba(0, 0, 0, 0.09);
    z-index: 5;
}

.has-dropdown:hover ul {
    display: block;
}

.has-dropdown:hover:after {
    z-index: 6;
    position: absolute;
    content: "";
    width: 30%;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3px;
    background: var(--primary-yellow-color);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.has-dropdown:hover ul.boxed-children {
    /*display: inline-block!important;*/
}

.has-dropdown ul.boxed-children li {
    display: inline-block !important;
    padding: 10px;
    background: #ececec;
    color: #c0c0c0;
    font-size: 14px;
    font-weight: 600;
    margin-right: 5px;
    width: 37px;
    text-align: center;
}

.has-dropdown ul.boxed-children li a {
    color: #c0c0c0;
}

.has-dropdown ul.boxed-children li:hover {
    background: #c9b796;
    color: white;
}

.has-dropdown ul li:hover a {
    color: var(--primary-yellow-color) !important;
}
.has-dropdown ul.boxed-children li:hover a {
    color: white !important;
}

.orderby-select {
    background: #efefef;
    color: #333333;
    font-size: 12px;
    border: none;
    font-family: 'Montserrat', sans-serif;;
    padding: 5px;
    padding-right: 15px;
    /*font-weight: 500;*/
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMyIDMyIj48cGF0aCBkPSJNMTYuMDAzIDE4LjYyNmw3LjA4MS03LjA4MUwyNSAxMy40NmwtOC45OTcgOC45OTgtOS4wMDMtOSAxLjkxNy0xLjkxNnoiLz48L3N2Zz4=");
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 8px;
    background-size: 12px 12px;
}

.produto-vertical-item {
    width: 100%;
    height: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: block;
    display: contents;
}

.home-product-item.pvi:hover .name {
    color: var(--primary-yellow-color) !important;
    font-weight: bold;
}

.btn-big-home.dpt {
    border-radius: 2px;
    border-color: #dbdbdb !important;
}

/*PRODUTO*/

.breadcrumb-wrapper {
    width: 100%;
    height: 1px;
    position: relative;
    background: #e9e2d5;
    max-width: 800px;
    margin: 0 auto;
}
.breadcrumb-wrapper span {
    margin: 0 5px;
    padding-top: 10px;
    display: block;
    color: var(--primary-yellow-color) !important;
    text-transform: uppercase;
}

.breadcrumb-wrapper:before {
    content: "";
    position: absolute;
    width: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 3px;
    top: 0px;
    background: var(--primary-yellow-color);
}

.bread-crumb li {
    display: inline-block;
    position: relative;
    margin: 0 5px;
}

.bread-crumb li:first-child span {
    color: #898989 !important;
}

.bread-crumb li:after {
    content: ":";
    position: absolute;
    right: -8px;
    top: 50%;
}

.produto-dealhes-interno {
}
.produto-dealhes-interno .productDescription {
    font-weight: 200;
    text-align: left;
    line-height: 1;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #b6b6b6 !important;
    max-width: 300px;
}
.produto-dealhes-interno h1 {
    position: relative;
    font-weight: 100;
    line-height: 40px;
    max-width: 280px;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.produto-detalhe-imagem-destaque .image-main {
    width: 100%;
}
.produto-detalhe-imagem-destaque .thumbs {
    /*display: none;*/
}

.produto-dealhes-interno h1:after {
    position: absolute;
    left: 0;
    bottom: -3px;
    content: "";
    width: 20%;
    height: 3px;
    background: var(--primary-yellow-color);
}

#outros-produtos h2 {
    display: none;
}

.quantityText {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;;
}
.quantitySelector input {
    background: #ececec;
    border: none;
    border-radius: 0;
    margin-left: 10px;
    text-align: center;
    font-size: 11px;
}

.ui-autocomplete {
    display: none !important;
}

.produto-dealhes-interno h3 {
}
.produto-dealhes-interno .produto-nome {
}
.produto-dealhes-interno .descricao {
    max-width: 300px;
}

.produto-info-fixed {
    background: #000;
    z-index: 6;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: 350px;
}

.produto-info-fixed.hasScrolled {
    position: fixed;
    -webkit-box-shadow: 16px 37px 61px 16px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 16px 37px 61px 16px rgba(0, 0, 0, 0.09);
    box-shadow: 16px 37px 61px 16px rgba(0, 0, 0, 0.09);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.produto-info-fixed .precos {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #dbdbdb;
}
.produto-info-fixed .precos .preco {
    padding-right: 20px;
    margin-right: 20px;
    border-right: 1px solid #dbdbdb;
}
.produto-info-fixed .precos .preco .valor-por strong {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
}
.produto-info-fixed .precos .preco .valor-por {
    text-align: left;
    font-style: normal;
    margin-top: 10px;
    display: flex !important;
    margin-bottom: 0 !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1;
    color: var(--primary-yellow-color) !important;
}
.produto-info-fixed .precos .preco .referencia {
    color: #525252;
    display: inline-block;
}
.produto-info-fixed .precos .preco .referencia .skuReference {
    font-weight: 400;
    display: inline-block;
    margin-bottom: 0 !important;
    text-transform: uppercase !important;
    color: #656565;
    line-height: 1;
    font-size: 11px;
    font-family: 'Montserrat', sans-serif;
}
.produto-info-fixed .precos .preco .referencia p {
    display: inline-block;
}
.produto-info-fixed .precos .preco .preco-com-desconto > div {
    display: inline-block;
}
.produto-info-fixed .precos .parcelas {
}
.produto-info-fixed .atributos {
}
.produto-info-fixed .atributos .atributo span {
    min-width: 50px !important;
    display: inline-flex;
    color:#737373;
}
.produto-info-fixed .atributos .atributo a:first-child {
    margin-left: 10px;
}
.produto-info-fixed .atributos .atributo .size {
    background: #ececec;
    color: #c0c0c0;
    width: 37px !important;
}
.produto-info-fixed .atributos .atributo .size.selected,
.produto-info-fixed .atributos .atributo .size:hover,
.mini-cart-botao a {
    color: white !important;
    background: var(--primary-yellow-color);
}

.produto-info-fixed .atributos .atributo .item-dimension-Tamanho input,
.produto-info-fixed .atributos .atributo .item-dimension-Tamanho label.item_unavailable {
    display: none;
}
.produto-info-fixed .atributos .atributo .item-dimension-Tamanho label {
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
    vertical-align: middle !important;
    margin: 0;
    cursor: pointer;
    transition: 0.3s all;
    text-decoration: none !important;
    padding: 0.5rem !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    line-height: 1;
    color: #b6b6b6 !important;
    background: #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px !important;
}

li.select.skuList.item-dimension-Tamanho {
    display: inline-flex;
}

.produto-info-fixed .atributos .atributo .sku-selector-container {
    margin-bottom: 10px;
}

.topic.Is_visible {
    display: none !important;
}

.produto-info-fixed .atributos .atributo .item-dimension-Tamanho label.checked {
    color: white !important;
    background: var(--primary-yellow-color)!important;
}

.produto-info-fixed .atributos .atributo .color {
    width: 13px;
    height: 13px;
    display: inline-flex;
    border-radius: 100%;
}
.produto-info-fixed .btn-comprar a,
.buy-button.buy-button-ref {
    height: auto !important;
    font-weight: 400;
    line-height: 1;
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 1rem !important;
    text-align: center !important;
    text-transform: uppercase !important;
    color: #fff !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    background-color: var(--primary-yellow-color) !important;
    border-radius: 0;
}
.produto-info-fixed .extra {
}

.produto-info-fixed .atributos .atributo li.specification {
    min-width: 50px !important;
    display: inline-flex;
    font-family: 'Montserrat', sans-serif;
    margin-right: 0.5rem !important;
    color: #737373 !important;
    line-height: 1;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

.titulo-duas-cores {
    background: white;
    position: relative;
}
.titulo-duas-cores:before {
    position: absolute;
    width: 100%;
    height: 1px;
    background: #dbdbdb;
    content: "";
    left: 0;
    right: 0;
    top: 12px;
    z-index: 1;
}
.titulo-duas-cores h3 {
    background: white;
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 0 20px;
}
.titulo-duas-cores h3 span {
    color: var(--primary-light-grey-color);
}

#ajaxBusy {
    display: none;
}

#mini-cart-admake {
    min-width: 300px;
    -webkit-box-shadow: 16px 37px 61px 16px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 16px 37px 61px 16px rgba(0, 0, 0, 0.09);
    box-shadow: 16px 37px 61px 16px rgba(0, 0, 0, 0.09);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 20px;
    position: absolute;
    top: 35px;
    right: 0;
    opacity: 1;
    background: white;
}

.mini-cart-header,
.mini-cart-itens *,
.mini-cart-footer * {
    font-family: 'Montserrat', sans-serif;;
}

#mini-cart-admake-total {
    float: right;
    margin-left: 10px;
    color: #bba886;
}

.header-cart:hover #mini-cart-admake,
#mini-cart-admake:hover {
    display: block !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/*.plus {
	position: relative;
}*/
/*#compre-junto .plus:before {
	position: absolute;
	top: 50%;
	left: -20px;
	transform: translate(-50%, -50%);
	content:"+";
	font-family: 'Montserrat', sans-serif;;
	font-weight: 300;
	font-size: 40px;
	color:#b6b6b6!important;
}
#compre-junto .equal:before {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translate(-50%, -50%);
	content:"=";
	font-family: 'Montserrat', sans-serif;;
	font-weight: 300;
	font-size: 40px;
	color:#b6b6b6!important;
}*/

.location-input-wrapper {
    position: relative;
    max-width: 590px;
    margin: 0 auto;
}
.location-input-wrapper:before {
    position: absolute;
    top: 0;
    left: 0;
    background: url("../arquivos/pin.png") center center no-repeat;
    content: " ";
    width: 16px;
    height: 24px;
}
.location-input-wrapper input {
    border: none;
    width: 600px;
    max-width: 100%;
    border-bottom: 1px solid black;
    background: url("../arquivos/search.png") right 10px center no-repeat;
    padding: 6px 35px;
    /*padding-right:35px;*/
    font-family: 'Montserrat', sans-serif;;
    font-size: 18px;
    line-height: 1;
    font-weight: 300;
}

.store-item {
    background: white;
    padding-bottom: 80px;
    position: relative;
    margin-bottom: 40px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.store-item .store-complete-location {
    /*height: 0;*/
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.store-item:hover {
    -webkit-box-shadow: 16px 37px 61px 16px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 16px 37px 61px 16px rgba(0, 0, 0, 0.09);
    box-shadow: 16px 37px 61px 16px rgba(0, 0, 0, 0.09);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 6;
}
.store-item:hover .store-complete-location {
    max-height: 300px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.store-item .store-btn a {
    border-width: 1px;
    border-style: solid;
    width: 100%;
    padding: 5px 10px;
    display: block;
}

.store-item-content {
    position: absolute;
    background: white;
    text-align: center;
    width: 100%;
    padding-bottom: 25px;
}

.store-item:hover .store-item-content {
    -webkit-box-shadow: 16px 37px 61px 16px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 16px 37px 61px 16px rgba(0, 0, 0, 0.09);
    box-shadow: 16px 37px 61px 16px rgba(0, 0, 0, 0.09);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#vitrine_1 h2,
#featured-home h2 {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center !important;
    margin-bottom: 2rem !important;
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-yellow-color) !important;
}

#vitrine_1 ul > li,
#featured-home ul > li {
    display: flex;
    flex-direction: row;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    justify-content: center;
}

.n2colunas,
.n1colunas,
.n3colunas {
    width: 100%;
}

.n2colunas ul,
.n1colunas ul,
.n3colunas ul {
    display: flex;
}

@media screen and (max-width:810px) {
    .n2colunas ul,
    .n1colunas ul,
    .n3colunas ul {
        flex-wrap: wrap;
    }   
}

.n2colunas li img,
.n1colunas li img,
.n3colunas li img {
    width: 100%;
    height: auto;
}

.n3colunas > ul > li {
    flex-direction: row;
}

.n3colunas ul > li > div {
    float: left!important;
}

.produto-comentarios .user-review h4,
.produto-comentarios .user-review .avaliacao,
.produto-comentarios .user-review .media,
.produto-comentarios .user-review #publishedReviewMessage,
.produto-comentarios .user-review hr {
    display: none !important;
}

#admake-advanced-filter {
    border: none;
}
#admake-advanced-filter h2 {
    display: none;
}
#admake-advanced-filter .box-filtro:hover .opcoes {
    display: block;
}
#admake-advanced-filter .box-filtro.checkbox li a svg {
    display: none;
}
#admake-advanced-filter .opcoes .ver-filtros:after {
    display: none;
}

#admake-advanced-filter li.filtro-ativo {
    font-family: 'Montserrat', sans-serif;;
    color: #c9b796 !important;
    font-weight: 600;
}
#admake-advanced-filter .box-filtro.checkbox li a {
    line-height: 1;
    list-style: none;
    list-style-type: none;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
    cursor: pointer;
    transition: 0.3s all;
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #898989 !important;
}
#admake-advanced-filter .box-filtro.checkbox li {
    display: block;
    padding: 5px;
}
#admake-advanced-filter .opcoes {
    font-weight: 400;
    text-align: left;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #898989 !important;
    cursor: pointer;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    list-style-type: none;
    position: absolute;
    width: 300px;
    min-height: 150px;
    left: 0;
    display: none;
    padding: 10px;
    background: white;
    box-shadow: 16px 37px 61px 16px rgba(0, 0, 0, 0.09);
    z-index: 5;
}
#admake-advanced-filter .sub-titulo h3 {
    font-weight: 400;
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #898989 !important;
}
#admake-advanced-filter > div.box-filtro {
    display: none;
    text-align: center;
    box-sizing: border-box;
    margin-right: 1rem !important;
    cursor: pointer;
    position: relative;
    border: none;
}

#admake-advanced-filter > div.box-filtro[data-type="filtro-tamanho"],
#admake-advanced-filter > div.box-filtro[data-type="filtro-cor"] {
    display: inline-block;
}

.resultado-busca-filtro > fieldset {
    display: inline-block;
    vertical-align: top;
    color: #808080;
    font-size: 13px;
    font-weight: 300;
    line-height: 30px;
    margin-right: 0;
    font-family: 'Montserrat', sans-serif;;
}

.resultado-busca-filtro > fieldset select {
    border: none;
    border-radius: 0;
    height: 30px;
    padding: 5px;
    color: #8a8a8a;
    background: #f3f3f3;
    font-size: 11px;
    font-weight: 400;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;;
}

.filtro-tamanho li:hover {
    background: #c9b796;
    color: white;
}
.filtro-tamanho li {
    /* display: inline-block!important; */
    padding: 15px;
    background: #ececec;
    color: #c0c0c0;
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    margin-right: 5px;
    width: fit-content;
    text-align: center;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
}

.main .sub:last-child {
    display: none;
}

.container .resultado-busca-filtro .compare,
.container .resultado-busca-filtro .filterBy,
.filtro-padronagem,
.filtro-seller,
.filtro-composicao,
.filtro-material,
.filtro-genero {
    display: none !important;
}

.listagem-departamento .main {
    width: 100%;
}

.resultado-busca-filtro {
    display: block;
    text-align: right;
    margin-top: -40px;
}
/*INSTITUCIONAL*/

.inst-header {
    background-size: cover;
    width: 100%;
    height: 250px;
}

.qs-right {
    background: url(../arquivos/bg_middle_home.jpg) center center no-repeat;
    background-size: contain;
}

.qs-right img {
    max-width: 90%;
}

.buy-together-content {
}

.buy-together-content .buy {
    line-height: 1;
    text-align: left !important;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0.5rem !important;
    text-transform: uppercase !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #898989 !important;
}
.buy-together-content .buy > strong {
    color: var(--primary-yellow-color) !important;
}
.buy-together-content .buy strong:nth-child(4) {
    font-weight: 600 !important;
    /* color: #898d94!important; */
    clear: both;
    width: 100%;
    display: table;
    margin-top: 5px;
}
.buy-together-content .more {
    display: none;
}
.buy-together-content .comprar-junto {
    margin-top: 10px;
}
.buy-together-content .comprar-junto > a {
    font-weight: 400;
    line-height: 1;
    text-align: left !important;
    box-sizing: border-box;
    margin: 0;
    vertical-align: baseline;
    background: transparent;
    cursor: pointer;
    transition: 0.3s all;
    text-decoration: none !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    text-transform: uppercase !important;
    color: #fff !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    background-color: var(--primary-yellow-color) !important;
}
.buy-together-content .equal {
    font-family: 'Montserrat', sans-serif;;
    font-weight: 300;
    font-size: 40px;
    color: #b6b6b6 !important;
}
.buy-together-content .plus {
    font-family: 'Montserrat', sans-serif;;
    font-weight: 300;
    font-size: 40px;
    color: #b6b6b6 !important;
}
.buy-together-content #divTitulo {
    display: none;
}
.buy-together-content td.itemA > a,
.buy-together-content td.itemB > a {
    min-width: 250px;
    display: inline-block;
    text-align: center !important;
}

.buy-together-content td.itemA > a > img,
.buy-together-content td.itemB > a > img {
    width: 250px !important;
    height: 250px !important;
}

.buy-together-content .itemA > h3 a,
.buy-together-content .itemB > h3 a {
    font-weight: 400;
    text-decoration: none !important;
    margin-bottom: 1rem !important;
    text-align: left !important;
    text-transform: uppercase !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1;
    color: #898989 !important;
    display: inline-flex;
}
.buy-together-content .itemA > h3,
.buy-together-content .itemB > h3 {
    width: 35%;
    display: inline-block;
}

div#mini-cart-admake {
    background: #c9b796;
    border: none;
    border-radius: 0;
}

#mini-cart-admake .mini-cart-item .imagem {
    width: 80px;
    float: left;
    display: none;
}

#mini-cart-admake .mini-cart-item .nome-produto {
    margin: 0;
    display: inline-block;
    width: 50%;
    float: left;
    text-align: left;
}

#mini-cart-admake .mini-cart-item .qtd-valor {
    display: block;
    text-align: left;
    float: right;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
}

#mini-cart-admake:before {
    border: 5px solid transparent;
    border-bottom-color: #c9b796;
}

#mini-cart-admake .mini-cart-item {
    border-bottom: 1px solid #bbab8d;
    display: block;
    padding: 5px;
    position: relative;
}

#mini-cart-admake .mini-cart-botao .btn-finalizar-compra {
    font-size: 12px !important;
    height: auto;
    line-height: 1;
    padding: 10px;
    background-color: #64ef76;
    color: #585252 !important;
    font-weight: 400;
    border-radius: 0;
    margin-bottom: -15px;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .hb-separator {
        display: none !important;
    }
    .home-banner {
        margin-bottom: 60px !important;
    }
    .home-banner img {
        max-width: 100%;
        height: auto;
        margin-left: 0 !important;
    }
    .home-banner:after,
    .ml-auto.home-content-message,
    .ml-auto.home-content-imgbt,
    .home-kbd-content {
        display: none !important;
    }
    .home-banner.departamento {
        margin-bottom: 20px !important;
    }
    .right.home-content-banner-1 {
        margin-top: 0px !important;
        z-index: 1;
    }
    .right .hcb-caption {
        right: 40px !important;
        left: unset !important;
    }
    .hcb-caption {
        bottom: -30px !important;
        right: unset !important;
        left: 16px !important;
    }
    .home-content {
        margin-bottom: 40px !important;
    }
    .home-content-banner-1 .hcb-caption {
        width: 213px;
        bottom: -87px !important;
        z-index: 2;
    }
    .home-content {
        background-size: contain;
    }

    /*
	#compre-junto .plus:before {
	    position: absolute;
	    top: 0px;
	    left: unset;
	    right: 15%!important;
	}
	#compre-junto .equal:before {
	    position: absolute;
	    top: 0px;
	    left: unset;
	    right: 15%!important;
	}*/

    #produto-detalhes img {
        max-width: 100%;
    }

    #detalhe-zoom-1 .img {
        background-size: 150% !important;
    }
    #detalhe-zoom-2 .img {
        background-size: 350% !important;
    }

    section#outros-produtos > div.container > div.row > div:nth-child(3) {
        width: 100%;
    }

    #outros-produtos > .container > .row > div:nth-child(3) {
        width: 100%!important;
    }
    
    #vitrine_1 ul > li,
    #featured-home ul > li {
        width: 100% !important;
        display: flex !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
        flex-direction: row !important;
        justify-content: center !important;
    }

    #vitrine_1 ul,
    #featured-home ul {
        display: block;
        margin: 50px 0;
    }

    .produto-dealhes-interno .produto-nome {
        text-align: center;
        width: 100% !important;
        max-width: unset !important;
        font-size: 24px !important;
        line-height: 26px;
    }

    .d-flex.flex-column.produto-info-fixed {
        position: initial !important;
        max-width: 100%;
        padding: 10px 0 !important;
        width: 100%;
    }

    #footer-top {
        margin-top: 0;
    }

    .produto-info-fixed .precos .preco {
        padding-right: 5px;
        margin-right: 5px;
        border-right: 1px solid #dbdbdb;
    }

    .produto-info-fixed .precos .preco .valor-por strong {
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
    }
    .container.px-md-5.listagem-departamento .sub {
        margin-top: 36px;
        margin-right: 30px;
    }
}

#navbarTogglerDemo03 .fulltext-search-box {
    width: 100% !important;
}

.helperComplement {
    display: none !important;
}

.pager.bottom {
    display: none !important;
}

#returnToTop span {
    font-weight: bold;
    height: auto;
    line-height: 12px;
    color: #c9b796 !important;
    font-family: 'Montserrat', sans-serif;;
    padding-right: 30px;
    margin-left: -10px;
    font-size: 14px;
}

#returnToTop .text2 {
    float: left;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;;
    margin-top: 5px;
}

#returnToTop .arrowToTop {
    background: url(/arquivos/returnToTop.png) no-repeat #c9b796 !important;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 2px;
    right: 0;
    display: block;
    float: right;
}

#scrollLoading {
    border: #c9b796 solid 2px !important;
    margin: 20px auto !important;
    line-height: 20px !important;
    padding: 11px !important;
    width: 141px !important;
    background: url(/arquivos/ajax-loader2.gif) no-repeat 115px center #ffffff !important;
}

.zoomPup,
.zoomWindow {
    display: none !important;
}

/*B2B*/

.b2b_g_title {
    color: #b0b0b0;
    font-family: 'Montserrat', sans-serif;;
    font-size: 36px;
    font-weight: 600;
}

.b2b_form input {
    border: 1px solid #e0e0e0;
    border-radius: 0;
    font-family: 'Montserrat', sans-serif;;
    font-size: 14px;
    color: #b0b0b0;
    height: 45px;
}

.b2b_form .has-appendage input:not[type="submit"] {
    border-right: 0;
}

.b2b_form .input-group-append input[type="submit"]:hover {
    background: #c9b796;
    color: white;
    /*font-weight: bold;*/
    border: 1px solid #c9b796;
}
.b2b_form .input-group-append input[type="submit"] {
    color: #cbc0ae;
    background: transparent;
    border: 1px solid #e0e0e0;
    border-radius: 0;
    border-left: 0;
    position: relative;
}

.b2b_form .input-group-append input[type="submit"]:before {
    position: absolute;
    content: "";
    left: 0;
    height: 70%;
    width: 1px;
    background: #e0e0e0;
}

.b2b_form .input-group-append input[type="submit"]:hover:before {
    display: none;
}

.b2b_form ::-webkit-input-placeholder {
    /* Edge */
    color: #a3a3a3;
    font-family: 'Montserrat', sans-serif;;
    font-size: 14px;
    font-weight: 400;
}

.b2b_form :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #a3a3a3;
    font-family: 'Montserrat', sans-serif;;
    font-size: 14px;
    font-weight: 400;
}

.b2b_form ::placeholder {
    color: #a3a3a3;
    font-family: 'Montserrat', sans-serif;;
    font-size: 14px;
    font-weight: 400;
}

.b2b_y_btn {
    background: #c9b796 !important;
    color: white !important;
    font-family: 'Montserrat', sans-serif;;
    font-weight: bold;
    font-style: 20px;
    padding: 10px 30px;
    border: 1px solid #c9b796 !important;
}

.b2b_y_btn:hover {
    background: transparent;
    color: #c9b796;
    border: 1px solid #c9b796;
}

.b2b-container .wrapper {
    /*max-width: 400px;*/
}

.b2b_g_text * {
    font-family: 'Montserrat', sans-serif;;
    font-size: 14px;
    margin-bottom: 0;
    line-height: 16px;
    color: #525252;
}

.b2b_form.type_2 input {
    /*background:#f0f0f0;*/
    /*border:none;*/
    margin-bottom: 5px !important;
}
.b2b_form.type_2 label {
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;;
    font-size: 14px;
}

.navbar-toggler {
    padding: 0.25rem 0.5rem;
    font-size: 14px;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

section.content.login .box-1 .step-3,
section.content.login .box-1 .step-4,
section.content.info_cliente,
section.content.nova_conta,
section.content.finish {
    display: none;
}

@media screen and (min-width: 812px) {
    section.content.login form {
        width: 370px;
    }
    .produto-detalhe-imagem-destaque {
        margin-right: -150px;
    }
}

section.info_cliente .timeline ul li span {
    width: 100%;
    text-align: right !important;
    display: block;
}

section.info_cliente .timeline ul li:last-child span {
    text-align: left !important;
}

section.info_cliente .timeline ul li img {
    opacity: 0.4;
}
section.info_cliente .timeline ul li.active img {
    opacity: 1;
}

form#form_new_user .step-2,
form#form_new_user .step-3,
form#form_new_user .step-4 {
    display: none;
}

.nova_conta .step-2 {
    display: none;
}

.box-1 {
    padding-top: 100px;
}

.box-2 {
    text-align: center;
}

#create_account .buttons li,
#create_account .buttons li strong {
    font-family: 'Montserrat', sans-serif;t;
    font-size: 13px;
    margin: 5px 10px;
}

#create_account .buttons li {
    font-family: 'Montserrat', sans-serif;;
    font-size: 11px;
    margin: 5px 10px;
    color: #4a4a4a;
}

#create_account .buttons li.active {
    color: #ad9872 !important;
}

#admake-advanced-filter .opcoes .ver-filtros {
    position: relative !important;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;;
    color: transparent;
    color: #bbbbbb;
    margin-left: 5px;
    margin-top: 5px;
    display: block;
}

.opcoes .filtro-ativo .svg {
    display: none !important;
}

#loader {
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    content: "";
    z-index: 2147483647;
    bottom: 0px;
    background: white url("/arquivos/loader_n.gif") center center no-repeat;
}

.b--action-primary {
    border-color: #c9b796 !important;
}

.bg-action-primary {
    background-color: #c9b796 !important;
}

.hover-b--action-primary:focus,
.hover-b--action-primary:hover {
    border-color: #9e9075 !important;
}

.hover-bg-action-primary:focus,
.hover-bg-action-primary:hover {
    background-color: #9e9075 !important;
}

.c-action-primary {
    color: #c9b796 !important;
}

div#mini-cart-admake:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 14px;
    content: "";
    margin-top: -10px;
}

.produto-info-fixed .atributos .atributo .item-dimension-Tamanho label {
    font-size: 16px!important;
    color: white!important;
    background: rgba(226, 216, 198, 1)!important;
}

.quantitySelector input {
    background: #e2d8c6!important;
    color:white;
}    

section#info_box {
    background: #f3f3f3;
    padding: 50px 0;
}

section#info_box img {
    min-width: 93px;
}

/* NEW PD-PAGE */

ul.thumbs {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}


.thumbs > li {
    width: 33%;
    display: inline-block;
    margin-bottom: 10px;
}

.thumbs > li a {
    width: 100%;
    display: block;
}

.thumbs > li a img {
    width: 100%;
}

.produto-detalhe-imagem-destaque {
/*    margin-left: -150px;
    margin-right: -150px;
    z-index: 1;*/
}

#detalhe-zoom-1, #detalhe-zoom-2 {display:none;}
